<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentFolderUsageDescription</key>
	<string>フォルダを作成し、ファイルを移動するためにアクセスが必要です。</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <!-- 任意のラベル名 -->
            <key>CFBundleTypeName</key>
            <string>All Documents</string>

            <!-- 公開されている UTI (Uniform Type Identifier) で受け取り可能なタイプを列挙 -->
            <key>LSItemContentTypes</key>
            <array>
                <!-- public.data であらゆるファイルを受け取る -->
                <string>public.data</string>
            </array>

            <!-- 「Viewer」にしておくとアイコンにドロップが可能になる -->
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>

            <!-- 任意ですが、Dock で優先的に受け取りたい場合など -->
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>	<key>NSFileAccessEnabled</key>
	<array>
		<string></string>
	</array>
</dict>
</plist>
